* text=auto

*.json text eol=lf
*.md text eol=lf
*.mjs text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.py text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.gitattributes text eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.gif binary
*.sqlite binary
*.db binary
*.pt binary
*.pth binary
